body, html{
  margin: 0;
  padding: 0;
}

html {
  height: fill-availbale;
  height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url(font/PPNeueMontreal-Thin.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url(font/PPNeueMontreal-Medium.otf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url(font/PPNeueMontreal-Bold.otf);
  font-style: normal;
  font-weight: 300;
}